<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="content">
    <section class="contents d-flex justify-content-center">
        <div class="w-25 sign-in-box">
            <h2 class="my-5">로그인</h2>
            <form method="post" action="/user/sign-in">
                <input type="text" class="form-control" name="loginId" placeholder="아이디를 입력하세요.">
                <input type="password" class="form-control mt-1" name="password" placeholder="암호를 입력하세요.">
                <button type="submit" id="signInBtn" class="btn btn-warning form-control text-white mt-3" name="signIn">로그인</button>
                <a href="/user/sign-up-view" class="btn btn-primary form-control text-white mt-1">회원가입</a>
            </form>
        </div>
    </section>
</th:block>